- content_for :content_for_hello do
  before
= invoke(:acceptance_test, :content_for)
= invoke(:acceptance_test, :content_for_default) do
  - content_for :content_for_hello do
    default
- content_for :content_for_hello do
  after
before 
= yield :content_for_hello
after
