rendering view

<%= ext.helper_hello %>
<%= invoke(:sample_ext, :render)  -%>
<%- invoke(:sample_ext, :render2) -%>
<%= invoke(:sample_ext, :render_partial)  -%>
<%- invoke(:sample_ext, :render_with_block) do -%>
  <%- @default = true %>
  render_with_block_default_line
  finish
<%- end %>
<%= invoke(:sample_ext, :render_with_inline, :type => :inline)  -%>
<%= invoke(:sample_ext, :render_with_plain, :type => :plain)  -%>
