$ext_sample_ext_sub_contents_width: 150px;
$ext_sample_ext_sub_contents_right_margin: 10px;
$ext_sample_ext_main_contents_left_margin: 10px;

#sample {
  div.ext_sample_ext-icon {
    display: inline;
  }
}

